.main{
display: block;
}
.btn{
    width: 65px;
    max-height: 50px;
}
.icon{
    position: relative;
    width: 30px;
    height: 30px;
    transition: transform .5s;
    fill: var(--inverted-bg-color);
    stroke:var(--inverted-bg-color);
}
.iconRotate{
    transform: rotate(-180deg);
    transition: transform .5s;
}