:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;

    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;

    --inverted-opasity-primary-color: rgba(4,150,4,0.8);
    --inverted-opasity-secondary-color: rgba(4,255,4,0.2);
}
